
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
 


header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 24px;
  }
  
  .logo {
    max-width: 159px;
    height: auto;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  
.hr{
    width: 100%;
    border-bottom-style: solid;
}

.table-style{
    border-top-style: solid ;
    width: 100%;
}

.MINISTER{
    font-size: 15px;
    font-weight: 600;
}

.SUNDAY{
  font-size: 15px;
    font-weight: 600;
    margin-top: 1px;
    text-align: center;
}

.SCHOOL{ 
    font-size: 13px;
      font-weight: 600;
      text-align: center;
      margin-top: 1px;
}

.school{
  line-height: 10px;
  text-align: center;
  margin-top: -4px;
}

.fruit{
  line-height: 10px;
  text-align: center
}

.percentage{
  margin-top: -9px;
}

.congregation{
  line-height: 10px;
  margin-top: -9px;
}

.minister{
  line-height: 10px;
}

.tithe{
    width: 30%;
}

.THANKSGIVING{
  font-size: 15px;
    font-weight: 600;
    margin-top: -9px;
}

.CONGREGATION{
  font-size: 15px;
    font-weight: 600;
    margin-top: -9px;
}

.SPECIAL{
  font-size: 14px;
  text-align: center;
    font-weight: 600;
    margin-top: 5px; 
}

.thanksgiving{
  line-height: 10px;
  text-align: center;
}

table{
    width: 100% !important;
    border-collapse: collapse !important;
    border-left: solid !important;
    border-right: solid !important;
    border-bottom: solid !important;
}

  .header-text h1 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .sub-header h2, .sub-header h3 {
    font-size: 20;
    text-align: center;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 8;
  }
  
.parish{
  border-bottom: 2px solid black;
   
}

  .report-info {
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    gap: 35px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .report-info div {
    margin: 5px 0;  
  }
  

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 80%;
    margin: auto;
    background: #fff;
    padding: 20px;
  }


  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table, th, td {
    border: 1px solid #000;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    height: 20px;
  }

.friday{
  height: 20px;
}  

  .report-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .inline-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .form-control {
    width: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  td.attendance {
    border-top: none;
    border-bottom: none;
    width: 6%;
  }
  

  .footer{
    display: inline-flex;
    gap: 50px;
  }